<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Support, Sentiment Analysis and Competitors Sentiment Comparison</title>
</head>
<body>
    <h2>POC - Customer Support, Sentiment Analysis and Competitors Sentiment Comparison using tweets</h2>
    <h4>A simple program to get a twitter handle and a competitors twitter handle from a user for sentiment analysis and customer support. Recent tweets are used for analysis. Twitter handle should be entered without the @. Examples of twitter handle are business, economics, bopinion..</h4>
    <p></p>
    {% block content %} {% endblock content %}
</body>
</html>